<div class="alert-message warning"><%= notice %></div>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Genre:</b>
  <%= @movie.genre %>
</p>

<p>
  <b>Score:</b>
  <%= @movie.score %>
</p>

<p>
	<b>Will you shit yourself?</b>
	<%= @movie.will_shit_your_pants? %>
</p>

<p>
  <%= image_tag @movie.poster_url %>
</p>
<%= link_to 'Edit', edit_movie_path(@movie), :class => 'btn'  %> |
<%= link_to 'Back', movies_path, :class => 'btn primary' %>
